# Node/Vite
node_modules/
dist/

# Python
__pycache__/
*.pyc
venv/

# OS files
.DS_Store

# Audio/output
output/
*.wav

# Env
.envbackend/models/tinyllama-1.1b-chat-v1.0.Q4_K_M.gguf
backend/models/*.gguf
